body {
    font-family: "Lato", sans-serif;
}

/*select {*/
    /*width: 100%;*/
/*}*/

#navButton {
    position: absolute;
    white-space: nowrap;
    font-size:35px;
    cursor:pointer;
    left: 30px;
    top: 30px;
    z-index: 5;
}


#logWindow {
    height: 100%;
    width: 100%;  /*set to zero*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: #466446;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 5;
    /*float: left;*/
    line-height: 5px;
}

#form {
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 10;
}

#form a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

#form a:hover{
    color: #f1f1f1;
}

#form input {
    display: block;
    margin: 0;
}

#logWindow a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;

    position: absolute;
    white-space: nowrap;
    font-size:35px;
    cursor:pointer;
    right: 30px;
    top: 30px;
    z-index: 5;
}

#logWindow a:hover{
    color: #f1f1f1;
}

#logWindow .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

h1 {
    text-align: center;
    margin-top: -10px;
    line-height: 40px;
}

label {
    line-height: 15px;
    font-size: 25px;
}

input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 25px;
}
input[type=button], input[type=reset] {
    font-size: 20px;
}

input[type=date], input[type=time], input[type=number]{
    vertical-align:bottom;
    line-height: 20px;
    border-radius: 4px;
}

input[type=text], select {
    padding: 1px 1px;
    /*margin: 8px 0;*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button], input[type=reset] {
    width: 80%;

    background-color: #a5afae;
    color: white;
    padding: 10px 16px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, input[type=reset]:hover {
    background-color: #78afaa;
}
